{{ template "_internal/google_analytics.html" . }}
{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}

  <meta
     name="description"
     content="{{ if .Params.description }}{{ .Params.description }}{{ end }}"
   />

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <article class="li-article">
                    <header class="li-article-header">
                        <h1 class="li-article-title">{{ .Title }}</h1>
                        <span class="li-article-taxonomies">
                            {{ with $categories }}
                                Posted in
                                {{ range $categories }}
                                    <a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}

                            {{ with $tags }}
                                with tags
                                {{ range $tags }}
                                    <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}
                        </span>
                        {{ if or $categories $tags }} - {{ end }}
                        <time class="li-article-date">{{$.Param "author"}}, {{ .Date.Format "January 2, 2006" }}
                        </time>
                    </header>
                    <section>
                        {{ .Content }}
                    </section>
                    
                    <!-- Go to www.addthis.com/dashboard to customize your tools --> 
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a9c6c9b8a39890d"></script>
                </article>
                {{ partial "addthis" . }}
                {{ partial "addthis-script" . }}
                {{ partial "coffee" . }}
                {{ partial "disqus.html" . }}
            </div>
        </div>
        {{ partial "author.html" .}}
    </div>
{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
