 <!-- {{ template "_internal/google_analytics.html" . }} -->
{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}

  <meta
     name="description"
     content="{{ if .Params.description }}{{ .Params.description }}{{ end }}"
   />

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <article class="li-article">
                    <header class="li-article-header">
                        <h1 class="li-article-title">{{ .Title }}</h1>
                        <span class="li-article-taxonomies">
                            {{ with $categories }}
                                Posted in
                                {{ range $categories }}
                                    <a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}

                            {{ with $tags }}
                                with tags
                                {{ range $tags }}
                                    <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}
                        </span>
                        {{ if or $categories $tags }} - {{ end }}
                        <time class="li-article-date">
                          {{$.Param "author"}}, Created: {{ .Date.Format "January 2, 2006" }}, Last update: {{ .Lastmod.Format "January 2, 2006" }}
                         
                        </time>
                    </header>
                    <section>
                        {{ .Content }}
                    </section>
                </article>
                {{ partial "comment.html" . }}
            </div>
        </div>
        {{ partial "author.html" .}}
    </div>
{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
