<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<footer class="li-page-footer">
    <div class="container">
        <div class="row">
            <div class="sixteen columns center">
              
              <div class="commentbox"></div>
<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script>commentBox('5679369011855360-proj')</script>
              
              <!--
              
              <div id="disqus_thread"></div>
                <script type="text/javascript">
                  (function() { // Don't ever inject Disqus on localhost--it creates unwanted discussions from 'localhost:1313' on your Disqus account...
                  if (window.location.hostname == "localhost") return;
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  var disqus_shortname = '{{ .Site.DisqusShortname }}';
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  <a href="http://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
              -->    
                  
                  
                  
            </div>
        </div>
    </div>
</footer>