<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<footer class="li-page-footer">
    <div class="container">
        <div class="row">
            <div class="sixteen columns center">
              <div class="commentbox"></div>
                <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
                <script>commentBox('5679369011855360-proj')</script>
            </div>
        </div>
    </div>
</footer>